# see https://github.com/CppCXY/EmmyLuaCodeStyle
[*.lua]
# [basic code reformat option]
# optional space/tab
indent_style = space
# if indent_style is space, this is valid
indent_size = 4
# if indent_style is tab, this is valid
tab_width = 2
# none/single/double
quote_style = double
# keep/remove/remove_table_only/remove_string_only/unambiguous_remove_string_only
call_arg_parentheses = keep
# only support number
continuation_indent_size = 4

[*.sh]
indent_style = space
indent_size = 4
shell_variant = posix # --language-variant
binary_next_line = true
switch_case_indent = true  # --case-indent
space_redirects = true
keep_padding = true
function_next_line = true  # --func-next-line

# Ignore the entire "third_party" directory.
[third_party/**]
ignore = true
