# gitignore for neovim
**/tags*
**/.netrwhist
**/pythonpath.vim
**/nodepath.vim
**/autoload/plugged/*
**/vimspector-config/*
**/paths.vim
**/session
**/wiki/
**/lua-language-server/
**/pack/
**/nvim/undodir/
**/.vim/undo/
**/.vim/tmp/
.log
**/.mind/

# Whisper Python virtual environment
.whisper-venv/
__pycache__/

# Python virtual environments
**/*venv/
