XTerm*faceName: Incolosta
XTerm*faceSize: 13 
xterm*boldFont: terminus-12
xterm*loginShell: true
xterm*vt100*geometry: 79x25
xterm*saveLines: 9000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false
xterm*background: rgb:1d/2b/3a
xterm*foreground: rgb:be/be/be
xterm*color0:     rgb:00/00/00
xterm*color1:     rgb:d3/62/65
xterm*color2:     rgb:ae/ce/91
xterm*color3:     rgb:e7/e1/8c
xterm*color4:     rgb:7a/7a/b0
xterm*color5:     rgb:96/3c/59
xterm*color6:     rgb:41/81/79
xterm*color7:     rgb:be/be/be
xterm*color8:     rgb:66/66/66
xterm*color9:     rgb:ef/81/71
xterm*color10:    rgb:e5/f7/79
xterm*color11:    rgb:ff/f7/99
xterm*color12:    rgb:41/86/be
xterm*color13:    rgb:ef/9e/be
xterm*color14:    rgb:71/be/be
xterm*color15:    rgb:ff/ff/ff
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc
xterm*transparent: true


! Extras

XTerm*utf8: 1
!XTerm*font: -*-terminus-medium-*-*-*-18-*-*-*-*-*-iso10646-1
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
XTerm*cursorColor: yellow
XTerm*cursorBlink: flase
XTerm*selectToClipboard: true


! Copy and paste

xterm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

! Scrollbar

! Lines of output that you can scroll back over
! xterm*saveLines: 4096
! Turn the scrollbar on, and put it on the right
xterm*scrollBar: true
xterm*rightScrollBar: true

! Do not scroll when there is new input e.g. tail -f /var/syslog
xterm*scrollTtyOutput: false
