snippet imr "import react"
  import React from 'react'

snippet imp "import module"
  import ${2:module_name} from '${1:module_path}'$0

snippet impt "import proptypes"
  import PropTypes from 'prop-types'

snippet ed "export default"
  export default ${1:Component}
