snippet cmd "Add Command"
  command {
    '${1:COMMAND}',
    function()
      ${2:function_body}
    end
  }

snippet cbox "config comment box"
  ----------------------------------------------------------------------
  -- NOTE: ${1:description} {{{
  ----------------------------------------------------------------------
  -- }}}
  ----------------------------------------------------------------------

snippet fdm "fold method marker comment"
  -- vim:foldmethod=marker
