snippet fdm "fold method marker comment"
  " vim:foldmethod=marker
  $0

snippet cbox "comment box with fold marker"
  "---------------------------------------------------------------------
  " NOTE: ${1:description} {{{
  "---------------------------------------------------------------------
  " }}}
  "---------------------------------------------------------------------
  $0
