snippet cbox "comment box"
  # -------------------------------------------------------------------
  # NOTE: ${1:description} {{{
  # -------------------------------------------------------------------
  # }}}
  # -------------------------------------------------------------------
  $0
