layout {
    pane split_direction="vertical" {
        pane {
            command "docker restart 444b3704b4c0 && docker exec -it quartic_local_setup bash"
        }
        pane {
            command "docker exec -it quartic_local_setup bash"
        }
    }
}
