[Desktop Entry]
Name=Ghostty
Exec=/home/lalitmee/Projects/Personal/Github/ghostty/zig-out/bin/ghostty
Icon=/home/lalitmee/Projects/Personal/Github/ghostty/images/icons/icon_256.png
Terminal=false
Type=Application
Categories=System;Terminal;
StartupWMClass=ghostty
